.content {
    width: 100vw;
    height: 100vh;
    display: flex; /* Enables flexbox */
    align-items: stretch; /* Stretch items to fill the container height */
    margin: 0;
    padding: 0;
}

.image-container {
    width: 100%;
    float: left; /* Or use flexbox/grid system for better layout control */
    clear:both;
    height:100vh;
}

.image-container img {
    width: 100%;
    height: 100%; /* Maintains the aspect ratio */ 
    display: block; /* Remove any extra space below the image */
    object-fit: cover; /* Optional: Cover the entire area without stretching the image */
}

.right{
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 40px;
    background-color: black;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 40%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box; /* So that padding and border are included in the width */
    background-color: rgb(2, 2, 2);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
    color:white;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a two-column layout */
    gap: 10px; /* Space between rows and columns */
     /* Adjust based on your preference */
    margin: auto; /* Center the form in the page */
}

.input-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

#createAccountBtn {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Padding inside the button */
    text-align: center; /* Center the text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Make it inline */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    margin-top: 45px;
    margin-bottom: 30px;
    cursor: pointer; /* Cursor as pointer */
    border: none; /* No border */
    transition: background-color 0.3s ease; /* Transition for smooth color change */
}

#createAccountBtn:hover {
    background-color: #45a049; /* Darker green background on hover */
}

#loginBtn {
    color:#4CAF50;
    font-size: 16px;
    transition: color 0.3s ease;
    background-color:none;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

#loginBtn:hover {
    color: #45a049;
}

.top {
    height: 33.33vh;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.middle {
    height: 33.33vh;
    background-color: rgb(6, 6, 6);
}

.bottom {
    height: 33.33vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow: auto;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.top p {
    margin-top: 0.2em; /* Reduces space above each paragraph */
    margin-bottom: 0.2em; /* Reduces space below each paragraph */
}

.top p:nth-child(4) {
    margin-top: 2em; /* Adjust the space as needed */
}

.middle p {
    font-size: 1.5rem;
}

.image-sidebar-container {
    position: relative;
    top: 0; /* You can adjust this as needed */
    width: 40vw;
    height: auto; /* Adjust the height as needed */
}

.sidebar {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    color: white; /* Text color */
    display: flex;
    align-items: center;
    
    flex-direction: column;
}

.sidebar .logo {
    /* Style your logo as needed */
    width: 100px; /* Example width */
    margin-right: 10px; /* Space between logo and text */
    height: auto;
}

.logo-text-container {
    display: flex; /* Aligns items in a row */
    align-items: center; /* Vertically centers items in the container */
    padding: 10px; /* Add padding as needed */
}

.sidebar span {
    font-size: 40px;
}


